* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Structuring Styles */

.pageTitle {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    height: 10vh;
}

.pageSubTitle {
    padding-bottom: 10px;
    height: 5vh;
    text-align: center;
}

.main {
    height: 85vh;
}

.options {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


/* Backgroung Styles */

.pageTitle {
    background-color: #CFD8DF;
}

.pageSubTitle {
    background-color: #CFD8DF;
}

.main {
    background-color: #79888F;
}

.boxOne {
    background-color: #CFD8DF;
    width: 40vh;
    height: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(171, 179, 185);
    padding: 1em;
}

.boxTwo {
    background-color: #CFD8DF;
    width: 40vh;
    height: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(171, 179, 185);
    padding: 1em;
}

.boxThree {
    background-color: #CFD8DF;
    width: 40vh;
    height: 40vh;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(171, 179, 185);
    padding: 1em;
}


/* Text Styles */

.headingFont {
    font-family: 'Spectral SC', serif;
}

.options {
    font-family: 'Aref Ruqaa', serif;
    font-size: large;
}


/* Images Styles */

.boxOne img {
    width: 30vh;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.boxTwo img {
    height: 20vh;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.boxThree img {
    width: 30vh;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


/* Button Styles */

.selection {
    padding: 5px;
    width: 50%;
    align-self: center;
}